.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.button {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.button > span {
  padding-left: 25px;
}
