/* elements */
.root {
  align-items: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.daySelect {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

/* modifiers */
