/* elements */
.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 200px;
}

.bottomSubmit {
  background-color: #f3f6ff;
  bottom: 0;
  box-shadow: 0 -10px 25px #f3f6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

/* modifiers */
