.root {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.input {
  display: none;
}

.input + .radio {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 1em;
  height: 1em;
  width: 1em;
}

.label {
  flex-grow: 1;
}

/* Modifiers */

.checked .radio {
  background-color: #fe805c;
}
