.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.input {
  display: none;
}

.input + .label {
  color: #00f;
  display: inline;
}

.input + .radio {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
}

/* Modifiers */

.input:checked + .radio {
  background-color: #fe805c;
}

.input:checked + .label {
  color: #0f0;
}
