/* elements */
.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.info {
  text-align: center;
}

.action {
  padding: 0 25px;
}

/* modifiers */
