.root {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
}

.fields {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  max-width: 600px;
}

.fields > * {
  width: 100%;
}

.postal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}
