/* elements */
.root {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 25px;
}

.fields {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  max-width: 600px;
  padding: 25px;
  width: 100%;
}

.fields > * {
  margin-bottom: 25px;
  width: 100%;
}

.timeframe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
}

.addButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.submit {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* modifiers */
