/* elements */
.root {
  background: linear-gradient(#08039f7e, #4643d3);
  border: 0;
  border-radius: 0 0 50% 50% / 0 0 20% 20%;
  color: #fff;
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}
