/* elements */
.root {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chevron {
  transform: rotate(180deg);
}

.fields {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  max-width: 600px;
  padding: 25px;
  width: 100%;
}

.fields > * {
  width: 100%;
}

.expander {
  align-items: center;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.expandText {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.label {
  text-align: left;
}

.slots {
  color: #fff;
}

.remover {
  display: flex;
  justify-content: center;
  width: 100%;
}

.details {
  display: none;
}

.timeframe {
  display: inline-flex;
  justify-content: stretch;
}

.timeframe > * {
  flex-grow: 1;
}

.addButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.submit {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* modifiers */

.open .details {
  display: block;
}

.open .chevron {
  transform: rotate(0deg);
}
